    h1{
      color: white;
    }
    h2{
      color: white;
    }
    body{
      font-family: sans-serif;
      margin: 0;
      background-color: maroon;
      padding: 10px;
    }
    .white{
      color: white;
    }
    #primary{
      color: yellow;
      background-color: black;
    }
    ul{
      font-size: 2em;
    }
    li{
      display: inline;
      margin-right: 2em;
    }
    .container{
      width: 90%;
      max-width: 760px;
      margin: 0 auto;
    }
    section{
      padding-top: 0.75em;
      margin: 1em;
      color: white;
      font-family: serif;
      font-size: 1.25em;
    }
    div.container{
      padding-top: 3em;
    }
    nav{
      background-color: white;
      position: fixed;
      width: 100%;
      top: 0;
      margin: 0;
    }
    .dropdown{
      position: relative;
    }
    .dropdown li{
      display: list-item;
    }
    .dropdown > ul{
      position: absolute;
      top: 1em;
      left: 0;
      height: 0;
      padding: 0;
      overflow: hidden;
      transition: all 0.3s ease;
      background-color: yellow;
    }
    .dropdown:hover > ul{
      height: 4em;
      padding: 1em;
    }
    footer{
      color: white;
    }
    footer li:last-child{
      background-color: gray;
    }
    input[type="text"]{
      padding: 1em;
      background-color: teal;
      font-size: 1em;
    }
    input[type="password"]{
      padding: 1em;
    }
    input[type="email"]{
      padding: 1em;
      font-size: 1em;
    }

    @media screen and (max-width: 414px;){
      input[type="text"],
      input[type="email"],
      input[type="password"]{
        width: 100%;
      }
    }
