    h1{
      color: white;
    }
    h2{
      color: white;
    }
    body{
      font-family: sans-serif;
      margin: 0;
      background-color: maroon;
      padding: 10px;
    }
    .white{
      color: white;
    }
    #primary{
      color: yellow;
      background-color: black;
    }
    ul{
      font-size: 2em;
    }
    li{
      display: inline;
      margin-right: 2em;
    }
    .container{
      width: 90%;
      max-width: 760px;
      margin: 0 auto;
    }
    section{
      padding-top: 0.75em;
      margin: 1em;
      color: white;
      font-family: serif;
      font-size: 1.25em;
    }
    nav{
      background-color: white;
    }
    footer{
      color: white;
    }
    footer li: last-child{
      background-color: gray;
    }
